# Autotools (needed for poppler)
.deps
.dirstamp
.libs
*.o
*.lo
*.la
Makefile
Makefile.in
libtool
aclocal.m4
autom4te.cache
config.log
config.status
config.h*
!config.h.in
configure
po/POTFILES
stamp-h1

# Eclipse
.autotools
.cproject
.project
.settings/

# PPA Build (ubuntu)
ppa-build

# CMake
build*/
desktop/desktop_install.sh

# NetBeans
nbproject/

# Visual Studio Code
.vscode/

# CLion
.idea/
cmake-build-*

# API Documentation
doc/html
doc/latex

# Flatpak
repo/
flatpak-build/
.flatpak-builder/
*.flatpak

# Lua
lua-*

# Clangd
compile_commands.json
.clangd
.cache/
Debug

# Miscellaneous
.DS_STORE
*~
