.deps
.dirstamp
.libs
*.o
*.lo
*.la
*~
Makefile
Makefile.in
libtool
aclocal.m4
autom4te.cache
config.log
config.status
config.h*
configure
po/POTFILES
stamp-h1

#binaries
src/xournalpp
src/xoj-preview-extractor/xournal-thumbnailer
src/mathtex/mathtex-xournalpp.cgi
src/pdf/popplerdirect/libpoppler-glib.a
src/pdf/popplerdirect/libpoppler.a
src/pdf/popplerdirect/poppler-0.24.1_build/
src/pdf/popplerdirect/poppler-config.h
