# Autotools (needed for poppler)
.deps
.dirstamp
.libs
*.o
*.lo
*.la
*~
Makefile
Makefile.in
libtool
aclocal.m4
autom4te.cache
config.log
config.status
config.h*
configure
po/POTFILES
stamp-h1

# CMake
build/
desktop/desktop_install.sh

# Poppler binaries
src/pdf/popplerdirect/libpoppler-glib.a
src/pdf/popplerdirect/libpoppler.a
src/pdf/popplerdirect/poppler-0.24.1_build/
src/pdf/popplerdirect/poppler-config.h
src/pdf/popplerdirect/workaround/workaround.sh

# NetBeans
nbproject/
