[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-xoj
Icon=xoj
Patterns=*.xoj;*.XOJ;*.Xoj;

Comment=Xournal note file
Comment[ca]=Fitxers de nota del Xournal
Comment[de]=Xournal Dokument
Comment[fr]=Fichier Xournal

