#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_build:
	dh_auto_build --buildsystem=meson -- translations all

override_dh_dwz:
	dh_dwz --buildsystem=meson --no-dwz-multifile

override_dh_auto_configure:
	dh_auto_configure --buildsystem=meson -- --buildtype=debugoptimized -DENABLE_CPPTRACE=false -DENABLE_GTEST=true

override_dh_auto_test:
	dh_auto_test --buildsystem=meson
