# Template for running Ubuntu release jobs
parameters:
  - name: ubuntu_version
    type: string
  - name: job_name
    type: string
  - name: build_appimage
    type: boolean
    default: false
  - name: gcc_version
    type: string
    default: '8'

jobs:
  - job: '${{ parameters.job_name }}'
    pool:
      vmImage: 'ubuntu-${{ parameters.ubuntu_version }}'
    displayName: 'Build for Ubuntu ${{ parameters.ubuntu_version }}'
    variables:
      # gtest version on Ubuntu 18.04 does not have a pkgconfig file,
      # so download it instead.
      ${{ if eq(parameters['ubuntu_version'], '18.04') }}:
        DOWNLOAD_GTEST_FLAG: '-DDOWNLOAD_GTEST=on'
    steps:
      - template: ../steps/install_deps_ubuntu.yml
        parameters:
          gcc_version: ${{ parameters.gcc_version }}
      - template: ../steps/build_linux.yml
        parameters:
          build_type: 'RelWithDebInfo'
          cmake_flags: >-
            -DCMAKE_DEBUG_INCLUDES_LDFLAGS=ON
            -DENABLE_GTEST=ON $(DOWNLOAD_GTEST_FLAG)
            -DCMAKE_INSTALL_PREFIX=/usr -DCPACK_GENERATOR="TGZ;DEB"
          cmake_commands: '--target package'
          gcc_version: ${{ parameters.gcc_version }}
      - bash: |
          # Build AppImage
          export VERSION=$(cat VERSION | sed '1q;d')
          export ARCH=$(cat VERSION | sed '4q;d')
          ../azure-pipelines/util/build_appimage.sh
          # Move and rename the generated AppImage file (and zsync file for AppImageUpdate)
          find . -name '*.AppImage' -not -name 'linuxdeploy.AppImage' -exec mv {} packages/xournalpp-$VERSION-$ARCH.AppImage \;
          find . -name '*.AppImage.zsync' -not -name 'linuxdeploy.AppImage.zsync' -exec mv {} packages/xournalpp-$VERSION-$ARCH.AppImage.zsync \;
        workingDirectory: ./build
        displayName: 'Create AppImage'
        condition: eq('${{ parameters.build_appimage }}', true)
      - task: PublishPipelineArtifact@1
        inputs:
          artifactName: 'linux-ubuntu-${{ parameters.ubuntu_version }}-packages'
          targetPath: '$(System.DefaultWorkingDirectory)/build/packages'
        displayName: 'Publish packages'
