<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>Xournal++</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.business</string>
    <key>CFBundleIdentifier</key>
    <string>com.github.xournalpp</string>
    <key>CFBundleName</key>
    <string>Xournal++</string>
    <key>CFBundleDisplayName</key>
    <string>Xournal++</string>

    <key>CFBundleShortVersionString</key>
    <string>1.2.7+dev</string>
    <key>CFBundleVersion</key>
    <string>1.2.7+dev.0</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>NSHumanReadableCopyright</key>
    <string>GPL-2.0 or newer</string>

    <key>LSMinimumSystemVersion</key>
    <string>10.15</string>

    <key>CFBundleDevelopmentRegion</key>
    <string>en-US</string>

    <key>CFBundleIconFile</key>
    <string>xournalpp.icns</string>
    <key>NSHighResolutionCapable</key>
    <true />

    <key>CFBundleExecutable</key>
    <string>xournalpp</string>
    <key>LSArchitecturePriority</key>
    <array>
      <string>x86_64</string>
    </array>
    <key>NSSupportsSuddenTermination</key>
    <false />

    <key>NSDesktopFolderUsageDescription</key>
    <string>Required to enable the internal file chooser to choose files from the desktop folder.</string>
    <key>NSDocumentsFolderUsageDescription</key>
    <string>Required to enable the internal file chooser to choose files from the documents folder.</string>
    <key>NSDownloadsFolderUsageDescription</key>
    <string>Required to enable the internal file chooser to choose files from the downloads folder.</string>
    <key>NSNetworkVolumesUsageDescription</key>
    <string>Required to enable the internal file chooser to choose files from network volumes.</string>
    <key>NSRemovableVolumesUsageDescription</key>
    <string>Required to enable the internal file chooser to choose files from removable devices.</string>

    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>xopp</string>
        </array>
        <key>CFBundleTypeIconFile</key>
	        <string>xournalpp.icns</string>
        <key>CFBundleTypeName</key>
        <string>Xournal++ Document</string>
        <key>CFBundleTypeMIMETypes</key>
        <array>
          <string>application/x-xopp</string>
        </array>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
      </dict>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>xopt</string>
        </array>
        <key>CFBundleTypeIconFile</key>
	        <string>xournalpp.icns</string>
        <key>CFBundleTypeName</key>
        <string>Xournal++ Template</string>
        <key>CFBundleTypeMIMETypes</key>
        <array>
          <string>application/x-xopt</string>
        </array>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
      </dict>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>xoj</string>
        </array>
        <key>CFBundleTypeIconFile</key>
	        <string>xournalpp.icns</string>
        <key>CFBundleTypeName</key>
        <string>Xournal Document</string>
        <key>CFBundleTypeMIMETypes</key>
        <array>
          <string>application/x-xojpp</string>
        </array>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
      </dict>
    </array>

    <key>UTExportedTypeDeclarations</key>
    <array>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>com.github.xournalpp.xopp</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.data</string>
          <string>org.gnu.gnu-zip-archive</string>
        </array>
        <key>UTTypeDescription</key>
        <string>Xournal++ Document</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.mime-type</key>
          <array>
            <string>application/x-xopp</string>
          </array>
          <key>public.filename-extension</key>
          <array>
            <string>xopp</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>com.github.xournalpp.xopt</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.data</string>
          <string>public.text</string>
        </array>
        <key>UTTypeDescription</key>
        <string>Xournal++ Template</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.mime-type</key>
          <array>
            <string>application/x-xopt</string>
          </array>
          <key>public.filename-extension</key>
          <array>
            <string>xopt</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>net.sourceforge.xournal.xoj</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.data</string>
          <string>org.gnu.gnu-zip-archive</string>
        </array>
        <key>UTTypeDescription</key>
        <string>Xournal Document</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.mime-type</key>
          <array>
            <string>application/x-xojpp</string>
          </array>
          <key>public.filename-extension</key>
          <array>
            <string>xoj</string>
          </array>
        </dict>
      </dict>
    </array>

    <key>LSSupportsOpeningDocumentsInPlace</key>
    <true />
    <key>NSDownloadsUbiquitousContents</key>
    <true />

    <key>LSEnvironment</key>
    <dict>
        <key>DYLD_FALLBACK_LIBRARY_PATH</key>
        <string>/Applications/Xournal++.app/Contents/Resources/lib</string>
    </dict>

    <key>NSHighResolutionCapable</key>
    <true />
    <key>NSRequiresAquaSystemAppearance</key>
    <false />
  </dict>
</plist>
