/*
 * Backup before modifying
 *
 *
 *  Try running Xournal++ like this:    GTK_DEBUG=interactive  xournalpp
 *
 *  See: https://wiki.gnome.org/action/show/Projects/GTK/Inspector
 */

#pdfFloatingToolGrid {
    padding: 7px;
}

/*Style the Floating Toolbox!*/
#floatingToolbox > box,
#pdfFloatingToolGrid {
	background-color: white;
	border-radius: 12px;

	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);

	/* Add a margin. If we don't have this, Gtk clips the shadow!  */
	margin: 7px;
}

#floatingToolbox box toolbar {
	background-color: rgba(255, 255, 255, 0);
}

#floatingToolbox button {
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 12px;
}

#pdfFloatingToolGrid button {
	background: rgba(255, 255, 255, 0.8);
	border: 12px;
}

#pdfFloatingToolGrid button:hover {
	border-radius: 12px;
	background: rgba(245, 245, 245, 0.8);
	box-shadow: inset 0px 0px 2px gray;
}

/*
	Use :checked for a selected ToggleButton.
	See https://stackoverflow.com/questions/39824345/use-css-to-style-gtktogglebutton-depending-on-the-state
*/
#floatingToolbox button:checked {
	/*background-color: lightblue;*/
	border-color: lightblue;
	box-shadow: inset 0px 0px 3px lightblue;

	transition: background-color 0.5s ease, border-color 0.5s ease, margin 0.3s ease;
}

#floatingToolbox toolbar,
#pdfFloatingToolGrid button {
    /*
      The Adaptia GTK theme adds box-shadows to toolbars.
      Remove them to avoid horizontal lines that extend outside
      the edge of the floating toolbox.
     */

    box-shadow: none;
}

window.darkMode #floatingToolbox button,
window.darkMode #pdfFloatingToolGrid button {
	background: rgba(55, 53, 53, 0.5);
	border: none;
}

window.darkMode #floatingToolbox button:checked {
	background: rgba(85, 85, 95, 0.1);
	border-color: lightblue;
	box-shadow: 0px 0px 3px lightblue;
}

window.darkMode #floatingToolbox > box,
window.darkMode #pdfFloatingToolGrid  {
	background-color: black;

	/*
	  Lighter gray shadow for better contrast on dark
	  backgrounds.
	*/
	box-shadow: 0px 0px 5px rgba(90, 90, 90, 0.7);
}

/*** Toolbar business ***/
box.toolbar button:not(.model),
popover.toolbar button:not(.model) {
  padding:3px;
  border-style:none;
  -gtk-icon-size:24px;
}

.orientationFormatBox > button > widget > box > image {
	margin-left: 3px;
	margin-right: 3px;
}

box.toolbar button:not(:checked):not(:active):not(:hover),
popover.toolbar button:not(:checked):not(:active):not(:hover) {
  border-style:none;
  box-shadow:none;
  background-color:transparent;
  background-image:none;
}

box.toolbar button.model {
  padding:3px;
  border-style:none;
}

box.toolbar button.model:not(:checked):not(:active):not(:hover) {
  border-style:none;
  box-shadow:none;
  background-color:transparent;
  background-image:none;
}

checkbutton.invisible check {
  color:transparent;
  background-color:transparent;
  background-image:none;
  outline-style:none;
  border-style:none;
  box-shadow:none;
}

/* A spacer is a transparent separator with expand == true */
separator.spacer {
  color:transparent;
  background-color:transparent;
  background-image:none;
  outline-style:none;
  border-style:none;
  box-shadow:none;
}

box.toolbar scale.horizontal {
  margin-top:0;
  margin-bottom:0;
  margin-left:3px;
  margin-right:3px;
  padding:0;
}

box.toolbar scale.vertical {
  margin-top:3px;
  margin-bottom:3px;
  margin-left:0;
  margin-right:0;
  padding:0;
}

box.toolbar scale.model {
  margin-top:3px;
  margin-bottom:6px;
  margin-left:3px;
  margin-right:0;
}

/* Add additional padding and a border to make editing toolbars easier. */
box.toolbar.editing {
    padding-top: 4px;
    padding-bottom: 4px;

    border: 4px dashed orange;
    border-radius: 3px;

    box-shadow: inset -2px -2px 8px orange;
}
box.toolbar.editing .phantom * {
    color:darkgrey;
    background-color: grey;
    background-image:none;
}

/* Grid in AddPage popover or PageTemplateDialog popover */
grid.page-type-grid button {
  padding:8px;
  border-style:none;
}

/*
Labels for subsections of the Settings dialog
*/
notebook frame>label {
    color: #666;
    font-weight: bold;
}

label.setting-button-indicator {
    border: 1px solid gray;
    border-radius: 3px;
    margin: 1px;
    padding: 2px;
}

label.setting-button-indicator.pressed {
    background-color: red;
}

label.setting-touch-indicator {
    border: none;
    background: radial-gradient(circle at center, alpha(gray,.7) 0%, alpha(gray,.7) 20%, alpha(gray, .1) 60%, alpha(gray, 0.) 100%);
    border-radius: 50%;
    margin: 1px;
    padding: 10px;
}
label.setting-touch-indicator.pressed {
    background: radial-gradient(circle at center, red 0%, red 20%, alpha(red, .1) 60%, alpha(red, 0.) 100%);
}

/** Sidebar miniature widgetry **/
@define-color SidebarSelectedMiniature red;
@define-color SidebarUnselectedMiniature grey;

#sidebarContents button.miniature {
  border-style: solid;
  outline-style: none;
  box-shadow: none;
  padding: 0px;
  margin: 0px;
  border-radius: 8px;
  border-spacing: 0px;
  border-color: @SidebarUnselectedMiniature;
  border-width: 2px;
}

#sidebarContents button.miniature picture {
  border-style: none;
  outline-style: none;
  border-radius: 6px;
  box-shadow: none;
  padding: 0px;
  margin: 0px;
  border-spacing: 0px;
}

#sidebarContents button.miniature.page-selected {
  border-color: @SidebarSelectedMiniature;
}

#sidebarContents label.page-number-square {
  margin:0;
  background-color: @SidebarUnselectedMiniature;
  min-width:24px;
}

#sidebarContents label.page-number-circular {
  margin:4px;
  background-color: @SidebarUnselectedMiniature;
  min-width:24px;
  border-radius:100px; /* this value is clamped to min(width, height)/2 */
}

#sidebarContents overlay > button.miniature.page-selected ~ label {
  background-color: @SidebarSelectedMiniature;
}

#sidebarContents box > button.miniature.page-selected ~ label.page-number-below {
  color: @SidebarSelectedMiniature;
}

#pageFormatDialog button.image-button.orientation {
  padding:3px;
  -gtk-icon-size:24px;
  margin:2px;
  margin-top:4px;
}

/* Icon in About dialog */
#XournalIcon {
  -gtk-icon-size: 120px;
}
