# Template for setting up the Ubuntu build environment and building Xournal++ on
# Ubuntu

parameters:
  build_type: 'Debug'
  cmake_flags: ''
  cmake_commands: ''

steps:
  - bash: |
      sudo add-apt-repository ppa:ubuntu-toolchain-r/test
      sudo apt-get update
      sudo apt install gcc g++
      sudo apt install gcc-8 g++-8
      sudo apt-get install -y cmake ninja-build libcppunit-dev libgtk-3-dev libpoppler-glib-dev portaudio19-dev libsndfile-dev liblua5.3-dev libzip-dev
      g++ --version
      export CXX=g++-8
      export CC=gcc-8
    displayName: 'Install dependencies'
