name: Create Installers in PR

on:
  issue_comment:
    types: [created]

env:
  available_targets: >-
    {
      "ubuntu-20": {
            "displayed_name": "Ubuntu 20.04",
            "runner": "ubuntu-20.04",
            "gcc_version": 10,
            "build_appimage": "true"
          },
      "ubuntu-22": {
            "displayed_name": "Ubuntu 22.04",
            "runner": "ubuntu-22.04"
          },
      "ubuntu-24": {
            "displayed_name": "Ubuntu 24.04",
            "runner": "ubuntu-24.04"
          },
      "debian": {
            "displayed_name": "Debian",
            "runner": "ubuntu-latest",
            "extra_packages": "build-essential lsb-release",
            "container_image": "ghcr.io/xournalpp/debian-latest-sudo:master"
          },
      "mac-x64": {
            "displayed_name": "MacOS x64",
            "runner": "macos-13"
          },
      "mac-arm": {
            "displayed_name": "MacOS ARM",
            "runner": "macos-14"
          },
      "windows": {
            "displayed_name": "Windows",
            "runner": "windows-2019",
            "build_portable": "true"
          }
    }


jobs:
  ack:
    name: Acknowledge order
    if: ${{ github.event.issue.pull_request && startsWith(github.event.comment.body, '\action create-installers')}}
    runs-on: ubuntu-latest
    outputs:
      head_sha: ${{ steps.get-sha.outputs.head_sha }}
      check_id: ${{ steps.parse.outputs.check_id }}
      linux_builds: ${{ steps.parse.outputs.linux_builds }}
      macos_builds: ${{ steps.parse.outputs.macos_builds }}
      windows_builds: ${{ steps.parse.outputs.windows_builds }}
      run_details_url: ${{ steps.parse.outputs.run_details_url }}
    steps:
      - name: 'Get pull request HEAD_SHA'
        id: get-sha
        uses: actions/github-script@v7
        with:
          script: |
            // Get the SHA of the PR's top commit so we build the right thing
            console.log('PR number: ' + ${{ github.event.issue.number }});
            const pr = await github.rest.pulls.get({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: ${{ github.event.issue.number }}
            });
            console.log('PR Head sha: ' + pr.data.head.sha)
            core.setOutput('head_sha', pr.data.head.sha)
      - name: 'Parse command and acknowledge order'
        id: parse
        uses: actions/github-script@v7
        with:
          script: |
            const available_targets = JSON.parse(`${{ env.available_targets }}`)
            const run_details_url = String.raw`https://github.com/${context.repo.owner}/${context.repo.repo}/actions/runs/${context.runId}`
            core.setOutput('run_details_url', run_details_url)

            var linux_builds = []
            var macos_builds = []
            var windows_builds = []
            var unknown = []

            const cmd = String.raw`${{github.event.comment.body}}`
            var re = /\s+/
            const targets = new Set(cmd.split(re).slice(2))  // Drop the "\action" and "create-installers"
                                                           // and possible duplicates
            console.log('required targets: ' + JSON.stringify([...targets]))

            if (targets.has("all")) {
              for (const tgt in available_targets) {
                if (available_targets[tgt].runner.startsWith('ubuntu')) {
                  linux_builds.push(available_targets[tgt])
                } else if (available_targets[tgt].runner.startsWith('macos')) {
                  macos_builds.push(available_targets[tgt])
                } else if (available_targets[tgt].runner.startsWith('windows')) {
                  windows_builds.push(available_targets[tgt])
                }
              }
            } else {
              for (const tgt of targets) {
                if (Object.hasOwn(available_targets, tgt)) {
                  if (available_targets[tgt].runner.startsWith('ubuntu')) {
                    linux_builds.push(available_targets[tgt])
                  } else if (available_targets[tgt].runner.startsWith('macos')) {
                    macos_builds.push(available_targets[tgt])
                  } else if (available_targets[tgt].runner.startsWith('windows')) {
                    windows_builds.push(available_targets[tgt])
                  }
                } else {
                  unknown.push(tgt)
                }
              }
            }
            core.setOutput('linux_builds', linux_builds)
            core.setOutput('macos_builds', macos_builds)
            core.setOutput('windows_builds', windows_builds)

            console.log('linux_builds: ' + JSON.stringify(linux_builds))
            console.log('macos_builds: ' + JSON.stringify(macos_builds))
            console.log('windows_builds: ' + JSON.stringify(windows_builds))
            console.log('unknown: ' + JSON.stringify(unknown))

            var message = ""
            var failed = false
            if ( unknown.length === 0 && linux_builds.length + macos_builds.length + windows_builds.length > 0 ) {
              message = "Started " + (linux_builds.length + macos_builds.length + windows_builds.length) + ` build(s) (see [details](${run_details_url}))`
            } else {
              var sentence = ""
              if ( unknown.length ) {
                sentence = "The following targets are invalid: " + JSON.stringify(unknown)
              } else {
                sentence = "No targets provided"
              }
              message = `> [!CAUTION]
              > ${sentence}. Usage is \`\\action create-installers target1 target2...\`
              > Available targets are:`
              for (const tgt in available_targets) {
                message += " " + `\`${tgt}\``
              }
              message += " or \`all\`"
              failed = true
            }

            // Post on the PR thread
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: message
            })

            if (failed) {
              core.setFailed('Command not recognized')
              return
            }


            // Add the CI to the PR's checks, so it appears on the webpage
            const resp = await github.rest.checks.create({
              name: 'Create installers',
              head_sha: "${{ steps.get-sha.outputs.head_sha }}",
              status: 'in_progress',
              owner: context.repo.owner,
              repo: context.repo.repo,
              details_url: run_details_url
            })
            core.setOutput('check_id', resp.data.id)  // We'll need this id to update the check's status once the run is over

  run-ci:
    name: Create installers
    needs: ack
    uses: ./.github/workflows/create-installers.yml
    with:
      linux_builds: ${{ needs.ack.outputs.linux_builds }}
      macos_builds: ${{ needs.ack.outputs.macos_builds }}
      windows_builds: ${{ needs.ack.outputs.windows_builds }}
      head_sha: ${{ needs.ack.outputs.head_sha }}

  publish-result:
    name: Publish results to PR
    needs: [run-ci, ack]
    if: ${{ always() && needs.ack.result == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - run: npm i @actions/artifact
      - name: 'Publish on PR page'
        id: publish
        uses: actions/github-script@v7
        with:
          script: |
            const {DefaultArtifactClient} = require('@actions/artifact')
            const artifactclient = new DefaultArtifactClient()
            const artifacts = await artifactclient.listArtifacts()

            console.log('artifacts: ' + JSON.stringify(artifacts))

            var message = ""
            if ('${{ needs.run-ci.result }}' === 'success') {
              message = "CI successful!"
            } else {
              message = `> [!CAUTION]
              > At least one run failed
              > See details at ${{ needs.ack.outputs.run_details_url }}
              `
            }
            message += `
            Available artifacts:`

            for (const a of artifacts.artifacts) {
              message += String.raw`
              - [${a.name}](${{ needs.ack.outputs.run_details_url }}/artifacts/${a.id})`
            }
            console.log(message)

            // Post on the PR thread
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: message
            })

            // Update the check run
            github.rest.checks.update({
              check_run_id: ${{ needs.ack.outputs.check_id }},
              status: 'completed',
              conclusion: '${{ needs.run-ci.result }}',
              owner: context.repo.owner,
              repo: context.repo.repo,
              output: {
                title: 'Create Installers',
                summary: '',
                text: message
              }
            })
