trigger:
  branches:
    include:
      - '*'
    exclude:
      - stable
      - l10n_master
  paths:
    exclude:
      - po/xournalpp.pot
      - po/*.po

stages:
  - stage: 'Build_Test_Stage'
    jobs:
      - job: 'Linux'
        pool:
          vmImage: 'ubuntu-20.04'
        displayName: 'Test Xournal++ on Linux'
        steps:
          - template: steps/install_deps_ubuntu.yml
          - template: steps/build_linux.yml
            parameters:
              build_type: 'Debug'
              cmake_flags: '-DCMAKE_DEBUG_INCLUDES_LDFLAGS=ON -DENABLE_GTEST=ON -DDOWNLOAD_GTEST=on'
          - bash: |
              echo "de_DE.UTF-8 UTF-8" | sudo tee /etc/locale.gen
              sudo locale-gen
            displayName: 'Generate test locales'
          - bash: |
              cmake --build . --target test-units
              CI=true ctest --verbose
            workingDirectory: ./build
            displayName: 'Run tests'

      - job: 'Windows'
        pool:
          vmImage: 'windows-2019'
        displayName: 'Test Xournal++ on Windows'
        steps:
          - template: steps/build_windows.yml
            parameters:
              build_type: 'Debug'
              cmake_flags: '-GNinja -DCMAKE_DEBUG_INCLUDES_LDFLAGS=ON -DENABLE_GTEST=ON -DDOWNLOAD_GTEST=on'
          - script: |
              set PATH=%PATH%;C:\msys64\usr\bin;C:\msys64\mingw64\bin"
              C:\msys64\usr\bin\bash -lc "cmake --build . --target test-units"
              C:\msys64\usr\bin\bash -lc "CI=true ctest --verbose"
            workingDirectory: ./build
            env:
              MSYS2_ARCH: x86_64
              MSYSTEM: MINGW64
              CHERE_INVOKING: yes
            displayName: 'Run tests'

      - job: macOS
        pool:
          vmImage: 'macOS-11'
        displayName: 'Test Xournal++ on MacOS'
        steps:
          - template: steps/build_mac.yml
            parameters:
              build_type: 'Debug'
              cmake_flags: '-DCMAKE_DEBUG_INCLUDES_LDFLAGS=ON -DENABLE_GTEST=ON -DDOWNLOAD_GTEST=on'
              generation_path: '/Users/xournal-dev'
          - bash: |
              export PATH="$HOME/.local/bin:/Users/xournal-dev/gtk/inst/bin:$PATH"
              cmake --build . --target test-units
              install_name_tool -add_rpath /Users/xournal-dev/gtk/inst/lib/. test/test-toolEnums
              CI=true ctest --verbose
            workingDirectory: ./build
            displayName: 'Run tests'
