trigger:
  branches:
    include:
      - '*'
    exclude:
      - stable
      - l10n_master
  paths:
    exclude:
      - po/xournalpp.pot
      - po/*.po


stages:
  - stage: 'Build_Test_Stage'
    jobs:
      - job: 'Linux'
        pool:
          vmImage: 'ubuntu-18.04'
        displayName: 'Test Xournal++ on Linux'
        steps:
          - template: steps/install_deps_ubuntu.yml
          - template: steps/build_linux.yml
            parameters:
              build_type: 'Debug'
              cmake_flags: '-DCMAKE_DEBUG_INCLUDES_LDFLAGS=ON -DENABLE_CPPUNIT=ON -DDEBUG_COMPILE=ON'
          - bash: |
              echo "de_DE.UTF-8 UTF-8" | sudo tee /etc/locale.gen
              sudo locale-gen
            displayName: 'Generate test locales'
          - bash: |
              CI=true ctest --verbose
            workingDirectory: ./build
            displayName: 'Run tests'

      - job: 'Windows'
        pool:
          vmImage: 'vs2017-win2016'
        displayName: 'Test Xournal++ on Windows'
        steps:
          - template: steps/build_windows.yml
            parameters:
              build_type: 'Debug'
              cmake_flags: '-DCMAKE_DEBUG_INCLUDES_LDFLAGS=ON -DENABLE_CPPUNIT=ON -DDEBUG_COMPILE=ON'
          - script: |
              set PATH=%PATH%;C:\msys64\usr\bin;C:\msys64\mingw64\bin"
              C:\msys64\usr\bin\bash -lc "CI=true ctest --verbose"
            workingDirectory: ./build
            env:
              MSYS2_ARCH: x86_64
              MSYSTEM: MINGW64
              CHERE_INVOKING: yes
            displayName: 'Run tests'

      - job: macOS
        pool:
          vmImage: 'macOS-10.15'
        displayName: 'Test Xournal++ on MacOS'
        steps:
          - template: steps/build_mac.yml
            parameters:
              build_type: 'Debug'
              cmake_flags: '-DCMAKE_DEBUG_INCLUDES_LDFLAGS=ON -DENABLE_CPPUNIT=ON -DDEBUG_COMPILE=ON -DCMAKE_OSX_DEPLOYMENT_TARGET=10.13'
          - bash: |
              export PATH="$HOME/.local/bin:/Users/git-bin/gtk/inst/bin:$PATH"
              install_name_tool -add_rpath /Users/git-bin/gtk/inst/lib/. test/test-loadHandler
              install_name_tool -add_rpath /Users/git-bin/gtk/inst/lib/. test/test-util
              CI=true ctest --verbose
            workingDirectory: ./build
            displayName: 'Run tests'
