[Desktop Entry]
Type=Application

Name=Xournal++
Comment=Take handwritten notes
Comment[ca]=Preneu notes a mà
Comment[cs]=Dělejte si rukou psané poznámky
Comment[de]=Handnotizen erstellen
Comment[fr]=Prise de notes manuscrites
Comment[hu]=Készítsen kézzel írott jegyzeteket
Comment[pl]=Notatki odręczne
Comment[ru]=Делайте рукописные заметки
Comment[zh_CN]=手写注释工具，可为PDF文件添加各种元素的注释标记
Keywords=tablet;Wacom;pen input;PDF Annotation;markup
Keywords[hu]=táblagép;Wacom;tollas bevitel;PDF-megjegyzés;korrektúra

Exec=xournalpp %f
SingleMainWindow=false
StartupWMClass=com.github.xournalpp.xournalpp
Terminal=false
StartupNotify=true
MimeType=application/x-xoj;application/x-xojpp;application/x-xopp;application/x-xopt;application/pdf;
Icon=com.github.xournalpp.xournalpp
Categories=Office;GNOME;GTK;
