[Desktop Entry]
Type=MimeType
MimeType=application/x-xopp
Icon=xopp
Patterns=*.xopp;

Comment=Xournal++ note file
Comment[ca]=Fitxers de nota del Xournal++
Comment[cs]=Poznámky Xournalu++
Comment[de]=Xournal++ Dokument
Comment[fr]=Fichier Xournal++
Comment[pl]=Notatnik Xournala++
Comment[zh_CN]=Xournal++ 笔记文件
Comment[ru]=Файл заметок Xournal++
