[Desktop Entry]
Type=MimeType
MimeType=application/x-xopt
Icon=xopt
Patterns=*.xopt;

Comment=Xournal++ template file
Comment[de]=Xournal++ Vorlage
Comment[zh_CN]=Xournal++ 模板文件
Comment[ru]=Файл шаблона Xournal++
