[Desktop Entry]
Encoding=UTF-8
Type=Application

Name=Xournal++
Comment=Take handwritten notes
Name[fr]=Xournal++
Comment[fr]=Prise de notes manuscrites
Name[ca]=Xournal++
Comment[ca]=Preneu notes a mà
Name[cs]=Xournal++
Comment[cs]=Dělejte si rukou psané poznámky
Name[de]=Xournal++
Comment[de]=Handnotizen erstellen
Name[pl]=Xournal++
Comment[pl]=Notatki odręczne

Exec=xournalpp %f
Terminal=false
StartupNotify=true
MimeType=application/x-xoj;application/pdf;
Icon=xournalpp
Categories=GNOME;GTK;Utility;TextEditor;
